{% extends 'common/base.html' %}

{% block content %}
<div class="container">
    <h1>Dashboard</h1>
    <div style="max-width: 900px;max-height: 400px;">
        <canvas id="myChart" width="900" height="400"></canvas>
    </div>
</div>
{% endblock %}

{% block js%}
<script>
    var ctx = document.getElementById('myChart').getContext('2d');


    let socket = new WebSocket("ws://localhost:8000/ws/");


    socket.onopen = function (e) {
        console.log("Connection established")
    }


    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [1, 2, 3, 4, 5, 6],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3]
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}